#([0-9]+)
#([a-zA-Z0-9-_]+)
#ErrorDocument 404 /dai_ly_nuoc_ngot/404.html
#ErrorDocument 403 /dai_ly_nuoc_ngot/403.html

RewriteEngine on

RewriteRule ^trang-chu/$ index.php
RewriteRule ^san-pham/$ san_pham.php
RewriteRule ^gioi-thieu/$ gioi_thieu.php
RewriteRule ^dang-ky$ dang_ky.php
RewriteRule ^dang-nhap$ dang_nhap.php
RewriteRule ^dang-xuat$ dang_xuat.php
RewriteRule ^gio-hang/$ gio_hang.php
 #chi_tiet_san_pham.php?ma_nuoc_uong=4-ten_khong_dau=nuoc-khoang-aquafina-chai-5l
RewriteRule ^([0-9]+)-([a-zA-Z0-9-_]+)$ chi_tiet_san_pham.php?ma_nuoc_uong=$1-ten_khong_dau=$2
RewriteRule ^chi-tiet-san-pham/([0-9]+)/([a-zA-Z0-9-_]+)=([0-9]+)$ chi_tiet_san_pham.php?ma_nuoc_uong=$1&$2=$3
RewriteRule ^trang-chu/([0-9]+)$ index.php?page=$1
RewriteRule ^khach-hang/([a-zA-Z0-9-_]+)$ khach_hang.php?key=$1
RewriteRule ^san-pham/([a-zA-Z0-9-_]+)=([0-9]+)$ san_pham.php?$1=$2
RewriteRule ^tim-kiem-san-pham/$ tim_kiem_san_pham.php
RewriteRule ^tim-kiem-san-pham/([0-9]+)$ tim_kiem_san_pham.php?page=$1
RewriteRule ^quan-tri-dang-ky/$ quantridangky.php


ErrorDocument 404 /dai_ly_nuoc_ngot/404.html
ErrorDocument 403 /dai_ly_nuoc_ngot/403.html
