form {
  margin: 0 !important; }

a {
  color: #666 !important;
  text-decoration: none !important;
  margin-right: 10px; }

.btn-group {
  margin-top: 5px !important; }

ol, ul, dl {
  margin-bottom: 0 !important;
  list-style-type: none; }

* {
  margin: none;
  padding: none; }

body {
  overflow-x: hidden; }

.thongtinlienlac {
  height: 46px;
  line-height: 46px;
  background-color: #105689 !important; }

.head {
  position: relative;
  height: 80px;
  line-height: 80px; }
  .head .divsearch {
    position: relative;
    width: 460px; }
    .head .divsearch .fa-search {
      font-size: 19px; }
    .head .divsearch #btnTimSP {
      height: 44px;
      line-height: 40px;
      width: 125px;
      background-color: #105689;
      color: #fff;
      z-index: 10; }
    .head .divsearch #gtTim {
      height: 35px;
      width: 240px; }
    .head .divsearch #dropdown-search {
      position: absolute;
      right: 68px;
      top: 100%;
      z-index: 1000;
      width: 334px;
      text-align: left;
      list-style: none;
      background-color: #fff;
      padding-left: 0;
      background-clip: padding-box;
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
      .head .divsearch #dropdown-search #btnTimSP {
        background-color: transparent;
        padding: 9px 27px 8px 31px;
        margin-left: -5px;
        cursor: pointer; }
    .head .divsearch .recentactive {
      display: none; }
  .head .divdangnhap {
    position: absolute;
    right: 0; }
    .head .divdangnhap .fa-user-circle-o {
      font-size: 19px; }
    .head .divdangnhap .fa-shopping-cart {
      font-size: 19px; }
    .head .divdangnhap .recentactive {
      display: none; }
    .head .divdangnhap #dropdown-dangnhap {
      position: absolute;
      top: 77%;
      right: 54px;
      z-index: 10;
      height: 43px;
      line-height: 43px;
      width: 300px;
      border: 1px solid #e0e0e0;
      background-color: #fff;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.32); }
    .head .divdangnhap .khungdangnhapbody {
      padding: 10px 20px 30px; }
      .head .divdangnhap .khungdangnhapbody #btn-special {
        padding: 8px;
        background-color: transparent;
        cursor: pointer; }
    .head .divdangnhap .khungdangnhaphead p {
      padding: 8px 19px 0px; }
  .head .divgiohang .fa-shopping-cart {
    font-size: 19px; }

.navbartop .nav-item {
  padding-right: 109px; }
.navbartop .nav-item:last-child {
  padding-right: 0 !important;
  padding-left: 9px; }

.spbanchay {
  position: relative; }
  .spbanchay .owl-dots {
    display: none !important; }
  .spbanchay .owl-nav .owl-prev {
    position: absolute;
    top: 38%;
    left: 0;
    z-index: 10;
    margin: -19px  !important;
    padding: 4px 7px !important;
    background-color: #0071bb !important;
    border: 1px solid #0071bb; }
    .spbanchay .owl-nav .owl-prev i {
      padding: 10px; }
  .spbanchay .owl-nav .owl-next {
    position: absolute;
    top: 38%;
    right: 0;
    z-index: 10;
    margin: -19px  !important;
    padding: 4px 7px !important;
    background-color: #0071bb !important;
    border: 1px solid #0071bb; }
    .spbanchay .owl-nav .owl-next i {
      padding: 10px; }

.dssanpham ul.menusanpham {
  text-align: center;
  list-style-type: none; }
  .dssanpham ul.menusanpham li {
    display: inline-block;
    padding: 0 31px; }
    .dssanpham ul.menusanpham li a {
      text-decoration: none; }
  .dssanpham ul.menusanpham li.active a {
    color: orange; }

#hienthimenusanpham a {
  transition: .8s; }
  #hienthimenusanpham a:hover {
    transition: .8s;
    background-color: #0071bb9e !important; }
#hienthimenusanpham #motsanpham {
  border: 2px solid #f6f6f6; }
  #hienthimenusanpham #motsanpham:hover {
    border: 1px solid #0071bb9e;
    color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
    #hienthimenusanpham #motsanpham:hover .buttonhienthimenusanpham button, #hienthimenusanpham #motsanpham:hover .muahang button, #hienthimenusanpham #motsanpham:hover .muahang .button-1 {
      display: block;
      transition: 1s;
      visibility: visible; }
    #hienthimenusanpham #motsanpham:hover img {
      transform: scale(1.1); }
    #hienthimenusanpham #motsanpham:hover .hienthimenusanphamcontent h3 {
      transform: translateX(10px);
      transition: 1s; }
    #hienthimenusanpham #motsanpham:hover .hienthimenusanphamcontent p {
      transform: translateX(10px);
      transition: 1s; }
  #hienthimenusanpham #motsanpham .hienthimenusanphamcontent h3, #hienthimenusanpham #motsanpham p {
    transition: 1s; }
  #hienthimenusanpham #motsanpham .hienthimenusanphamhead {
    position: relative; }
    #hienthimenusanpham #motsanpham .hienthimenusanphamhead img {
      display: block;
      transition: transform 0.6s; }
  #hienthimenusanpham #motsanpham .buttonhienthimenusanpham, #hienthimenusanpham #motsanpham .muahang {
    position: absolute;
    top: 40%;
    left: 24%;
    z-index: 10;
    transition: 1s; }
    #hienthimenusanpham #motsanpham .buttonhienthimenusanpham button, #hienthimenusanpham #motsanpham .muahang button, #hienthimenusanpham #motsanpham .muahang .button-1 {
      background-color: #fff;
      padding: 7px 17px;
      display: none;
      visibility: hidden;
      transition: 1s;
      border: 1px solid #0071bb9e; }
  #hienthimenusanpham #motsanpham .muahang {
    top: 51.5% !important;
    left: 27% !important;
    width: 133px; }
    #hienthimenusanpham #motsanpham .muahang .button-1 {
      padding: 7px 6px; }

.chitietsanpham .hinhsanpham {
  border: 1px solid  gray;
  border-radius: 10%; }
.chitietsanpham .noidungsanphamcontent #muaHang {
  padding: 8px;
  color: #fff;
  background-color: #0071bb;
  border-radius: 10%;
  cursor: pointer; }

.paralax .breadcrumb {
  height: 100px;
  line-height: 73px;
  background-color: #f7f7f7; }

.page-login .loginfoot span {
  color: brown;
  text-decoration-color: red;
  text-decoration: underline; }

#content .sanphamtrai #timGia {
  position: relative;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 9px 0px; }
  #content .sanphamtrai #timGia:after {
    content: "";
    position: absolute;
    top: 41px;
    right: 45%;
    border: 10px white solid;
    border-top-color: #666666; }

@media (min-width: 320px) and (max-width: 576px) {
  .table td {
    width: 236px;
    padding: 1.75rem !important; }

  .navbar-expand-min .navbar-nav .nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 100px; }

  form#frm_tim_kiem_san_pham {
    width: 294px !important; }

  .head {
    height: auto; }
    .head .divsearch {
      width: 0; }
      .head .divsearch #gtTim {
        width: 220px !important; }
      .head .divsearch #btnTimSP {
        width: 60px !important; }
    .head .divdangnhap {
      right: 9px !important;
      width: 50%;
      height: 60px;
      line-height: 60px; }
      .head .divdangnhap #dropdown-dangnhap {
        top: 84%;
        right: 39px;
        width: 225px; }

  .dssanpham ul.menusanpham li {
    padding: 0 44px !important; }

  .mb-4 {
    text-align: center !important; }

  .navbartop ul li.nav-item {
    padding-right: 5px;
    text-align: center;
    padding: 10px; }
  .navbartop ul li.nav-item:last-child {
    padding-left: 0; }

  .thanhnavbar {
    margin-top: 60px; }

  #content table #ho_ten, #content table #so_dien_thoai, #content table #dia_chi, #content table #email, #content table #ghi_chu {
    width: 185px !important; }
  #content table input.w3-btn {
    margin-bottom: 20px !important; }

  .paralax .breadcrumb {
    height: auto;
    line-height: 38px;
    margin-top: 20px; } }
@media screen and (min-width: 576px) {
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    width: 116px; } }
@media (max-width: 768px) {
  .menutop .navbartop {
    top: 30px;
    width: 50% !important; }

  .head .divheadphai .divsearch #dropdown-search {
    width: 179px; }

  .head .divheadphai .divdangnhap #dropdown-dangnhap {
    width: 254px; }

  .page-login .login {
    width: 300px !important; }
    .page-login .login .loginhead h2 {
      font-size: 1.5rem; }

  .navbartop ul li.nav-item {
    padding-right: 21px !important; }
  .navbartop ul .nav-link {
    padding-right: 0 !important; } }
@media (max-width: 920px) {
  form#frm_tim_kiem_san_pham {
    width: 226px; }

  .head .divsearch {
    width: 0; }
    .head .divsearch #gtTim {
      width: 180px; }
    .head .divsearch #btnTimSP {
      width: 40px; }

  .navbartop ul li.nav-item {
    padding-right: 5px; }
  .navbartop ul li.nav-item:last-child {
    padding-left: 0; } }
@media (max-width: 1024px) {
  form#frm_tim_kiem_san_pham {
    width: 400px; }

  .head .divsearch {
    width: 0; }
    .head .divsearch #gtTim {
      width: 225px; }
    .head .divsearch #btnTimSP {
      width: 75px; }

  .navbartop ul li.nav-item {
    padding-right: 5px; }
  .navbartop ul li.nav-item:last-child {
    padding-left: 0; }
  .navbartop ul .nav-link {
    padding-right: 4rem; }

  .sanphamtop {
    width: 100%; }
    .sanphamtop ul li {
      width: 212px !important; } }
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block; }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  tr {
    margin: 0 0 1rem 0; }

  tr:nth-child(odd) {
    background: #fff; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%; }

  td:last-child {
    border-bottom: none; }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap; }

  		/*
  		Label the data
      You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
  		*/
  td:nth-of-type(7):before {
    content: " Tong Tien"; } }

/*# sourceMappingURL=WebNuocNgot.css.map */
