
// Quan Ly Font chu
$font12: 12px;
$font13: 13px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font19: 19px;
// Het Quan Ly Font chu


// Quan Ly chung 

form{
	margin: 0 !important;
}

a {
    color: #666 !important;
	text-decoration: none !important;
	margin-right:10px;
	
}

.btn-group
{
	margin-top: 5px !important;
}


ol, ul, dl
{
	margin-bottom: 0 !important;
	list-style-type: none;
}




// Het Quan Ly chung 

//Mixin
@mixin  recentactive{
	display: none;
}

//Het Mixin


*
{
	margin: none;
	padding:none;
}

body
{
	overflow-x: hidden;
}

.thongtinlienlac
{
    height: 46px;
	line-height: 46px;
	background-color:#105689 !important;
}

.head
{	
	position: relative;
	height: 80px;
	line-height:  80px;

		.divsearch
		{			
			position: relative;
			width:460px;

			.fa-search
			{
				font-size:$font19;
			}
			#btnTimSP
			{
				height:44px;
				line-height: 40px;
				width:125px;
				background-color:#105689;
				color:#fff;
				z-index: 10;
			
			}

			#gtTim
			{
				height:35px;
				width:240px;
			}
			#dropdown-search
			{		
				position: absolute;
				right: 68px;
				top:100%;
				z-index: 1000;
				width:334px;
				text-align: left;
				
				list-style: none;
				background-color: #fff;
				padding: {
					left:0;
	
				}
				background-clip: padding-box;
				-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
				box-shadow: 0 6px 12px rgba(0,0,0,0.175);

				#btnTimSP{
					background-color:transparent;
					padding: 9px 27px 8px 31px;
					margin-left: -5px;
					cursor: pointer;
				}
	
			}
			.recentactive
			{
				@include recentactive();
			}	
		}
	
		.divdangnhap
		{
			position: absolute;
			right:0;
			.fa-user-circle-o{
				font-size:$font19;
			}

			.fa-shopping-cart
			{
				font-size:$font19;
			}
			  
			.recentactive
			{
				@include recentactive();
			}	

			#dropdown-dangnhap
			{
				position: absolute;
				top:77%;
				right:54px;
				z-index:10;
				height:43px;
				line-height: 43px;
				width:300px;			
				border: 1px solid #e0e0e0;
				background-color:#fff;
				box-shadow: 0px 6px 12px rgba(0,0,0,0.32);

			}

			.khungdangnhapbody
			{
				padding: 10px 20px 30px ;
				#btn-special
				{
					padding:8px;
					background-color: transparent;
					cursor: pointer;

				}
			}

			.khungdangnhaphead
			{
				p{
					padding: 8px 19px 0px;
				}
			}
		}

		.divgiohang
		{
			.fa-shopping-cart
			{
				font-size:$font19;
			}
		}
		
	}




.navbartop
{

	.nav-item
	{
		padding-right:109px;	
	}

	.nav-item:last-child
	{
		padding-right: 0 !important;
		padding-left: 9px;
	}

	


}

.spbanchay
{
	position: relative;

	.owl-dots{
		display:none !important;
	}

	.owl-nav
	{
		.owl-prev
		{	
			position: absolute;
			top:38%;
			left:0;
			z-index:10;
			margin: -19px  !important;
			padding: 4px 7px !important;
			background-color:#0071bb !important;
			border:1px solid #0071bb;

			i{
				padding:10px;
				
			}
		}
		
		.owl-next
		{
			position: absolute;
			top:38%;
			right:0;
			z-index:10;
			margin: -19px  !important;
			padding: 4px 7px !important;
			background-color:#0071bb !important;
			border:1px solid #0071bb;
			i{
				padding:10px;
			}
			
		}

	}
}


.dssanpham
{
	ul.menusanpham
	{
		text-align: center;
		list-style-type: none;
		li
		{
			display:inline-block;
			padding: 0 31px;
			a
			{
				text-decoration: none;
			}
		}

		li.active
		{
			a{

				color:orange;
			}		
		}	
	}
}

#hienthimenusanpham
{
	a
	{
		transition: .8s;
		&:hover
		{
			transition: .8s;
			background-color:#0071bb9e !important;
		}
	}
	
	#motsanpham
	{
		border: 2px solid #f6f6f6;
		&:hover 
		{
			border:1px solid #0071bb9e;
			color:#fff;
			-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
			box-shadow: 0 6px 12px rgba(0,0,0,0.175);

			.buttonhienthimenusanpham button{
				display: block;
				transition: 1s;
				visibility: visible;
			}


			img{
				transform: scale(1.1);
			}

			.hienthimenusanphamcontent h3{
				transform: translateX(10px);
				transition: 1s;
			}

			.hienthimenusanphamcontent p {
				transform: translateX(10px);
				transition: 1s;
			}

		}

		.hienthimenusanphamcontent h3,p{
			transition: 1s;
		}	


		.hienthimenusanphamhead
		{
			position: relative;
	
	
			img{
				display:block;
				transition: transform 0.6s;
			}
			
			
			
		}
		.buttonhienthimenusanpham
		{
				position: absolute;
				top: 40%;
   				left: 24%;
				z-index:10;
				transition: 1s;
	
				button
				{
					background-color: #fff;
					padding: 7px 17px;
					display: none;
					visibility: hidden;
					transition: 1s;
					border: 1px solid #0071bb9e;
				}
			
		}

		.muahang
		{
			@extend .buttonhienthimenusanpham;
			top: 51.5% !important;
   			left: 27% !important;
   			width: 133px;
			.button-1
			{
				//Do co dung 1 button nen se ke thua no
				@extend button;
				padding: 7px 6px;
			}

		}	
	}

}

.chitietsanpham
{
	.hinhsanpham
	{
		border:1px solid  gray;
		border-radius: 10%;
	}

	.noidungsanphamcontent
	{
		#muaHang
		{
			padding:8px;
			color:#fff;
			background-color:#0071bb;
			border-radius:10%;
			cursor: pointer;
		}		
	}



}

.paralax
{
	.breadcrumb{
		height:100px;
		line-height: 73px;
		background-color :  #f7f7f7;
		
	}

}


.page-login
{
	.loginfoot
	{
		span{
			color: brown;
			text-decoration-color: red;
			text-decoration: underline;
		}
	}
}



#content
{
	.sanphamtrai
	{
		#timGia
		{
			position: relative;
			border-bottom:1px solid black;
			text-align:center;
			padding: 9px 0px;

			&:after
			{
				content: "";
				position: absolute;
				top: 41px;
				right: 45%;
				border: 10px white solid;
				border-top-color: #666666;			
			}

		}
	}
}

@import "mobile";
