<!DOCTYPE html>
<html lang="vi">

<head>
	<title>Đại Lý Nước Ngọt 115 Ký Con</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0" />
	<link rel="stylesheet" href="css/WebNuocNgot.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.default.css">


	<!--Favicon-->
	<link href="images/logo/favicon.png" rel="shortcut icon" type="image/x-icon">


	<script type="text/javascript" src="js/bootstrap.js"></script>

	<script src="text/javascript" src="js/jquery-3.2.1.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- <script src="vendor/js/owl.carousel.js"></script> -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
	 crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
	 crossorigin="anonymous"></script>
	<script src="js/owl.carousel.js"></script>


    <!--Phần Thêm-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#accordion").accordion();
        });
    </script>



</head>

<body id="page2">

    <div id="divlonnhat ">

        <!-- Head -->
        <div class="head container">
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-light navbartop">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">TRANG CHỦ

                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">GIỚI THIỆU</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#">TIN TỨC</a>
                            </li>

                            <a class="navbar-brand" href="#">
                                <img src="images/logo/logo.png" alt="" srcset="">
                            </a>

                            <li class="nav-item">
                                <a class="nav-link" href="#">SẢN PHẨM</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">LIÊN HỆ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">KHUYẾN MÃI</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--Hết Navbar-->

            <div class="divheadphai ">

                <!-- Search -->
                <div class="divsearch">
                    <a href="javascript:void(0)" onclick="ThemClassDropDownSearch()">
                        <i class="fa fa-search"></i>
                    </a>

                    <ul id="dropdown-search" class="recentactive">
                        <li>
                            <form action="/search" method="get">
                                <input type="text" name="gtTim" placeholder="Tìm Kiếm Sản Phẩm" id="gtTim" autofocus>
                            </form>
                        </li>
                    </ul>
                </div>
                <!-- Hết Search -->

                <!-- Đăng Nhập/ Đăng Ký -->
                <div class="divdangnhap">
                    <a href="javascript:void(0)" onclick="HienThiKhungDangNhap()">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </a>

                    <ul id="dropdown-dangnhap" class="recentactive">
                        <li class="khungdangnhaphead">
                            <p>
                                <a href="dangky.html">Đăng ký</a>
                                /
                                <a href="dangnhap.html">Đăng nhập</a>
                            </p>

                        </li>

                        <hr>

                        <li class="khungdangnhapbody">
                            <form accept-charset="UTF-8" id="user-login" action="dangnhap.html" method="post">
                                <input type="email" name="email" class="form-control" placeholder="Email" autofocus>
                                <input type="password" name="password" class="form-control" placeholder="Mật Khẩu">

                                <button type="submit" id="btn-special">
                                    Đăng Nhập Ngay
                                    <i class="fa fa-angle-right"></i>
                                </button>
                            </form>
                        </li>

                    </ul>
                </div>
                <!-- Hết Đăng Nhập/ Đăng Ký -->

                <!--Giỏ Hàng-->
                <div class="divgiohang">
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </div>
                <!--Hết Giỏ Hàng-->

            </div>


        </div>
        <!-- Hết Head -->

        <!-- Thanh điều hướng-->
        <div class="paralax">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="breadcrumbs">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="WebNuocNgot.html">Trang chủ</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="chi_tiet_san_pham.html">Chi tiết sản phẩm</a>
                                </li>
                                <!-- <li class="breadcrumb-item">
                                            <a href="#">{$xxx->ten_nuoc_uong}</a>
                                    </li> -->
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Hết Thanh điều hướng-->

        <!-- Content View của Chi tiết sản phẩm -->
        <div class="container chitietsanpham mt-4">
            <div class="row">

                <div class="col-sm-5">
                    <div class="hinhsanpham">
                        <img src="images/revive.png" alt="{$xxx->ten_nuoc_uong}" style="width: 100%; object-fit: cover;">
                    </div>
                </div>

                <div class="col-sm-7">
                    <div class="noidungsanpham">
                        <div class="noidungsanphamhead mt-3 mb-4">
                            <h5 style="color:#0071bb">NƯỚC NGỌT 7UP REVIVE CHAI NHỰA 500ML ( THÙNG 24 CHAI )</h5>
                        </div>


                        <div class="noidungsanphamcontent">
                            <div class="form-group">
                                <label>
                                    Đơn vị tính:
                                    <span class="ml-3" style="background-color:#0071bb;padding:10px;color:#fff;border-radius: 10%">Thùng</span>
                                </label>
                            </div>
                            <div class="form-group">

                                Giá:
                                <span style="color:#0071bb;margin-left:10px">90.000vnđ</span>

                            </div>

                            <!--Xử lý PHP (LẤY SỐ LƯỢNG TỪ INPUT)-->
                            <div class="mb-4">
                                Số lượng:
                                <input type="text" name="soluongnhap" id="soluongnhap" style="width:200px;margin-left:30px" value="1" autofocus>
                            </div>


                            <div class="form-group">
                                <button type="submit" id="muaHang" name="muaHang">
                                    <i class="fa fa-shopping-cart"></i>
                                    Mua ngay
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="accordion" style="border:1px solid gray" class="mt-4">

                        <h5 style="padding:40px 40px 0px 40px"> CHI TIẾT SẢN PHẨM</h5>
                        <div style="border-bottom: 1px solid gray;padding:40px">
                            <h6>Thành phần: </h6>
                            <p>Nước tinh khiết</p>

                            <h6>Cách sử dụng: </h6>
                            <p>Ngon hơn khi uống lạnh</p>

                            <h6>Bảo quản: </h6>
                            <p>Nơi khô ráo thoáng mát, tránh nắng và hóa chất</p>

                            <h6>Dung tích: </h6>
                            <p>500ml</p>

                            <h6>Xuất xứ thương hiệu: </h6>
                            <p>USA</p>

                            <h6>Sản xuất tại: </h6>
                            <p>Việt Nam</p>
                        </div>
                        <h5 style="padding:40px 40px 0px 40px; border-top:1px solid  gray"> THẺ TAG</h5>
                        <div style="border-bottom: 1px solid gray;padding:40px">
                            <h6>Thành phần: </h6>
                            <p>Nước tinh khiết</p>

                        </div>


                    </div>
                </div>
            </div>
        </div>

        <!-- Hết Content của Chi tiết sản phẩm -->

        <!--Sản Phẩm Liên Quan-->
        <!--Xài lại view v_menu_san_pham.tpl của index.php-->
        <!-- views/trang_chu/v_menu_san_pham.tpl  -->
        <div class="container dssanpham">
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="mb-4 text-sm-center" style="font-size:24px;font-weight: 600">SẢN PHẨM LIÊN QUAN</h4>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <!-- Tách 1
                    <ul class="menusanpham">
                        <li class="active">
                            <a href="index.php?ma_loai=1">NƯỚC NGỌT</a>
                        </li>
                        <li>
                            <a href="index.php?ma_loai=2">NƯỚC SUỐI</a>
                        </li>
                        <li>
                            <a href="index.php?ma_loai=3">NƯỚC TRÁI CÂY</a>
                        </li>
                        <li>
                            <a href="index.php?ma_loai=4">BIA</a>
                        </li>
                    </ul> -->

                    <div class="hienthimenusanpham">
                        <!--Tách 2 include file="views/trang_chu/v_noidung_menu_san_pham.tpl"-->
                        <div class="row">

                            <!--Một sản phẩm-->
                            <div class="col-md-3" id="motsanpham">
                                <div class="hienthimenusanphamhead">
                                    <a href="chi_tiet_san_pham.html" style="position: relative;text-decoration: none;">
                                        <img src="images/revive.png" alt="{$xxx->ten_san_pham}" style="width:100%;">
                                    </a>
                                </div>
                                <div class="hienthimenusanphamcontent">
                                    <a href="chi_tiet_san_pham.html" style="text-decoration: none;">
                                        <h3 style="font-size: 13px;font-weight: 600">Revive chanh muối</h3>
                                    </a>
                                    <p style="margin-top:-18px">90.000vnđ/thùng</p>
                                </div>
                                <!--Xem chi tiết Button-->
                                <div class="buttonhienthimenusanpham">
                                    <button type="button">
                                        <a href="chi_tiet_san_pham.html">Xem chi tiết</a>
                                    </button>
                                </div>
                            </div>
                            <!--Hết Một sản phẩm-->

                            <!--Một sản phẩm-->
                            <div class="col-md-3" id="motsanpham">
                                <div class="hienthimenusanphamhead">
                                    <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}&page=" style="position: relative;text-decoration: none;">
                                        <img src="images/revive.png" alt="{$xxx->ten_san_pham}" style="width:100%;">
                                    </a>
                                </div>
                                <div class="hienthimenusanphamcontent">
                                    <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}" style="text-decoration: none;">
                                        <h3 style="font-size: 13px;font-weight: 600">Revive chanh muối</h3>
                                    </a>
                                    <p style="margin-top:-18px">90.000vnđ/thùng</p>
                                </div>
                                <!--Xem chi tiết Button-->
                                <div class="buttonhienthimenusanpham">
                                    <button type="button">
                                        <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}">Xem chi tiết</a>
                                    </button>
                                </div>
                            </div>
                            <!--Hết Một sản phẩm-->
                            <!--Một sản phẩm-->
                            <div class="col-md-3" id="motsanpham">
                                <div class="hienthimenusanphamhead">
                                    <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}" style="position: relative;text-decoration: none;">
                                        <img src="images/revive.png" alt="{$xxx->ten_san_pham}" style="width:100%;">
                                    </a>
                                </div>
                                <div class="hienthimenusanphamcontent">
                                    <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}" style="text-decoration: none;">
                                        <h3 style="font-size: 13px;font-weight: 600">Revive chanh muối</h3>
                                    </a>
                                    <p style="margin-top:-18px">90.000vnđ/thùng</p>
                                </div>
                                <!--Xem chi tiết Button-->
                                <div class="buttonhienthimenusanpham">
                                    <button type="button">
                                        <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}">Xem chi tiết</a>
                                    </button>
                                </div>
                            </div>
                            <!--Hết Một sản phẩm-->
                            <!--Một sản phẩm-->
                            <div class="col-md-3" id="motsanpham">
                                <div class="hienthimenusanphamhead">
                                    <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}" style="position: relative;text-decoration: none;">
                                        <img src="images/revive.png" alt="{$xxx->ten_san_pham}" style="width:100%;">
                                    </a>
                                </div>
                                <div class="hienthimenusanphamcontent">
                                    <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}" style="text-decoration: none;">
                                        <h3 style="font-size: 13px;font-weight: 600">Revive chanh muối</h3>
                                    </a>
                                    <p style="margin-top:-18px">90.000vnđ/thùng</p>
                                </div>
                                <!--Xem chi tiết Button-->
                                <div class="buttonhienthimenusanpham">
                                    <button type="button">
                                        <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}">Xem chi tiết</a>
                                    </button>
                                </div>
                            </div>
                            <!--Hết Một sản phẩm-->
                            <!--Một sản phẩm-->
                            <div class="col-md-3" id="motsanpham">
                                <div class="hienthimenusanphamhead">
                                    <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}" style="position: relative;text-decoration: none;">
                                        <img src="images/revive.png" alt="{$xxx->ten_san_pham}" style="width:100%;">
                                    </a>
                                </div>
                                <div class="hienthimenusanphamcontent">
                                    <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}" style="text-decoration: none;">
                                        <h3 style="font-size: 13px;font-weight: 600">Revive chanh muối</h3>
                                    </a>
                                    <p style="margin-top:-18px">90.000vnđ/thùng</p>
                                </div>
                                <!--Xem chi tiết Button-->
                                <div class="buttonhienthimenusanpham">
                                    <button type="button">
                                        <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}">Xem chi tiết</a>
                                    </button>
                                </div>
                            </div>
                            <!--Hết Một sản phẩm-->

                            <!--Một sản phẩm-->
                            <div class="col-md-3" id="motsanpham">
                                <div class="hienthimenusanphamhead">
                                    <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}" style="position: relative;text-decoration: none;">
                                        <img src="images/revive.png" alt="{$xxx->ten_san_pham}" style="width:100%;">
                                    </a>
                                </div>
                                <div class="hienthimenusanphamcontent">
                                    <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}" style="text-decoration: none;">
                                        <h3 style="font-size: 13px;font-weight: 600">Revive chanh muối</h3>
                                    </a>
                                    <p style="margin-top:-18px">90.000vnđ/thùng</p>
                                </div>
                                <!--Xem chi tiết Button-->
                                <div class="buttonhienthimenusanpham">
                                    <button type="button">
                                        <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}">Xem chi tiết</a>
                                    </button>
                                </div>
                            </div>
                            <!--Hết Một sản phẩm-->

                            <!--Một sản phẩm-->
                            <div class="col-md-3" id="motsanpham">
                                <div class="hienthimenusanphamhead">
                                    <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}" style="position: relative;text-decoration: none;">
                                        <img src="images/revive.png" alt="{$xxx->ten_san_pham}" style="width:100%;">
                                    </a>
                                </div>
                                <div class="hienthimenusanphamcontent">
                                    <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}" style="text-decoration: none;">
                                        <h3 style="font-size: 13px;font-weight: 600">Revive chanh muối</h3>
                                    </a>
                                    <p style="margin-top:-18px">90.000vnđ/thùng</p>
                                </div>
                                <!--Xem chi tiết Button-->
                                <div class="buttonhienthimenusanpham">
                                    <button type="button">
                                        <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}">Xem chi tiết</a>
                                    </button>
                                </div>
                            </div>
                            <!--Hết Một sản phẩm-->

                            <!--Một sản phẩm-->
                            <div class="col-md-3" id="motsanpham">
                                <div class="hienthimenusanphamhead">
                                    <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}" style="position: relative;text-decoration: none;">
                                        <img src="images/revive.png" alt="{$xxx->ten_san_pham}" style="width:100%;">
                                    </a>
                                </div>
                                <div class="hienthimenusanphamcontent">
                                    <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}" style="text-decoration: none;">
                                        <h3 style="font-size: 13px;font-weight: 600">Revive chanh muối</h3>
                                    </a>
                                    <p style="margin-top:-18px">90.000vnđ/thùng</p>
                                </div>
                                <!--Xem chi tiết Button-->
                                <div class="buttonhienthimenusanpham">
                                    <button type="button">
                                        <a href="chi_tiet_san_pham.php?ma_san_pham={$xxx->ma_san_pham}">Xem chi tiết</a>
                                    </button>
                                </div>
                            </div>
                            <!--Hết Một sản phẩm-->


                        </div>
                    </div>
                </div>
            </div>

            .
        </div>

        <!--HẾT DANH SÁCH SẢN PHẨM-->
    </div>

    <!--Hết Sản Phẩm Liên Quan-->

    <!--Footer-->
    <div class="container ">
        <hr class="mt-4">
        <div class="Footer1 mt-4 ">
            <div class="row">

                <!--VỀ CHÚNG TÔI-->
                <div class="col-md-3 col-xs-12  mt-4 ">
                    <h3 class="mb-4" style="font-size:16px;font-weight: 600">VỀ CHÚNG TÔI</h3>
                    <p>
                        <i class="fa fa-map mr-2" "></i>
                                115 Ký Con, Phường Nguyễn Thái Bình, Quận 1
                            </p>
                            <p>
                                <i class="fa fa-envelope mr-2 ""></i>
                        daily115kycon@gmail.com
                    </p>
                    <p>
                        <i class="fa fa-phone mr-2"></i>
                        (028)39143734
                    </p>
                </div>
                <!--HẾT VỀ CHÚNG TÔI-->

                <!--BÀI VIẾT MỚI-->
                <div class="col-md-3  col-xs-12  mt-4">
                    <h3 class="mb-4" style="font-size:16px;font-weight: 600">BÀI VIẾT MỚI</h3>

                    <div class="tintuc" style="height:109px">
                        <img src="images/strongbow.png" alt="" style="float:left;width:109px;height:75px;" class="mr-3">
                        <h3 style="font-size:13px">Heniken largest beer</h3>
                        <p>04/06/2018</p>
                    </div>
                    <hr>
                    <div class="tintuc">
                        <img src="images/saigonspecial.png" alt="" style="float:left;width:109px;height:75px;" class="mr-3">
                        <h3 style="font-size:13px">Heniken largest beer</h3>
                        <p>04/06/2018</p>
                    </div>
                </div>
                <!--HẾT BÀI VIẾT MỚI-->

                <!--HỖ TRỢ-->
                <div class="col-md-3  col-xs-12  mt-4">

                    <h3 class="mb-4" style="font-size:16px;font-weight: 600">HỖ TRỢ</h3>
                    <p>
                        <a href="#" style="text-decoration: none;"> Về chúng tôi</a>
                    </p>

                    <p>
                        <a href="#" style="text-decoration: none;"> Trung tâm hỗ trợ</a>
                    </p>
                    <p>
                        <a href="#" style="text-decoration: none;">Chính sách bảo mật</a>
                    </p>
                    <p>
                        <a href="#" style="text-decoration: none;">Chính sách thanh toán</a>
                    </p>
                    <p>
                        <a href="#" style="text-decoration: none;">Chính sách giao hàng</a>
                    </p>

                </div>
                <!--HẾT HỖ TRỢ-->

                <!--MẠNG XÃ HỘI-->
                <div class="col-md-3  col-xs-12  mt-4">

                    <h3 class="mb-4" style="font-size:16px;font-weight: 600">FACEBOOK </h3>

                </div>
                <!--HẾT MẠNG XÃ HỘI-->


            </div>
        </div>
    </div>
    <div class="container">

        <div class="Footer2 mb-4" style="position: relative;">
            <hr class="mb-4 mt-5">
            <div class="row">

                <div class="footer2trai">
                    © 2018
                </div>

                <div class="footer2phai ">
                    <a href="javascript:void(0)" onclick="LenDauTrang()" style="position: absolute;right:0;text-decoration: none;">
                        <i class="fa fa-arrow-up"></i>
                        Lên đầu trang
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--Hết Footer-->



    </div>






    <script type="text/javascript" src="js/WebNuocNgot.js"></script>


</body>

</html>