<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sản Phẩm Template</title>
    <link rel="stylesheet" href="css/WebNuocNgot.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.default.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!--Favicon-->
    <link href="images/logo/favicon.png" rel="shortcut icon" type="image/x-icon">

    <!--CDN-->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.slim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="js/ajax_xoa_gio_hang.js"></script>
    <script src="js/thu_vien_ajax.js"></script>
    <script src="js/owl.carousel.js"></script>

</head>

<body>

    <div class="main mt-5">
        <div class="container">
            <div class="row">
                <!-- Phần 1 -->
                <div class="col-sm-3">
                    <div class="sanphamtrai mt-4">
                        <p>Tìm Theo Giá</p>
                        <div class="luachon">
                            <label>
                                <input type="checkbox" name="ttg" class="luachon" value="50" onclick="ChonTheoGia(this.value)">
                                < 50000vnđ </label>
                                    <br>
                                    <label>
                                        <input type="checkbox" name="ttg" class="luachon" value="50100" onclick="ChonTheoGia(this.value)" )> 50000 - 100000vnđ
                                    </label>
                                    <br>
                                    <label>
                                        <input type="checkbox" name="ttg" class="luachon" value="100200" onclick="ChonTheoGia(this.value)" )> 100000 - 2000000vnđ
                                    </label>
                                    <br>
                                    <label>
                                        <input type="checkbox" name="ttg" class="luachon" value="500" onclick="ChonTheoGia(this.value)">
                                        <=5 00000vnđ </label>
                                            <br>
                        </div>
                    </div>

                </div>

                <!-- Phần 2 -->
                <div class="col-sm-9">

                    <div class="sanphamtop mb-5" style="display:inline-block;">
                        <ul style="display:inline-block">
                            <li class="dropdown " style="width:180px;display:inline-block">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Loại nước uống
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!--<li><a href="javascript:void()" onclick="window.location='my_pham.php?ma_loai_cha=2&ma_loai_san_pham=48'">Dầu gội</a></li> -->
                                    <li style="text-align: center">
                                        <a href="javascript:void(0)" onclick="">Nước khoáng</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown" style="width:180px;display:inline-block">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sắp xếp theo
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li style="text-align: center">
                                        <a href="javascript:void(0)" onclick="Sap_Xep_Theo()">Giá thấp nhất</a>
                                    </li>
                                    <li style="text-align: center">
                                        <a href="javascript:void(0)" onclick="Sap_Xep_Theo()">Giá cao nhất</a>
                                    </li>

                                </ul>
                            </li>

                            <li style="width:300px;display:inline-block">
                                <form onsubmit="$('#keyword').blur();return false;" class="pure-form">
                                    <input id="keyword" autofocus type="text" name="q" placeholder="Tìm Tên Nước Uống ..." style="width:100%;max-width:	400px;outline:0;text-align:center"
                                        onkeyup="Tim_mon_an(this.value)">
                                </form>
                            </li>
                        </ul>
                    </div>

                    <div id="hienthimenusanpham">
                        <div class="row">

                            <!-- {foreach $dsnutheoma as $dsnuocuong } -->
                            <div class="col-sm-3" id="motsanpham">
                                <div class="hienthimenusanphamhead">
                                    <a href="chi-tiet-san-pham/{$dsnuocuong->ma_nuoc_uong}" style="position: relative;text-decoration: none;">
                                        <img src="public/images/hinh_nuoc_uong/{$dsnuocuong->hinh}" alt="" style="width:100%;height:200px">
                                    </a>

                                    <div class="hienthimenusanphamcontent">
                                        <a href="chi-tiet-san-pham/{$dsnuocuong->ma_nuoc_uong}" style="text-decoration: none;">
                                            <h3 style="font-size: 15px;font-weight: 600">{$dsnuocuong->ten_nuoc_uong}</h3>
                                        </a>
                                        <p style="margin-top:-8px;color:#0071bb;">{$dsnuocuong->don_gia} vnđ/{$dsnuocuong->dvt}</p>


                                        <!--Xem chi tiết Button-->
                                        <div class="buttonhienthimenusanpham">
                                            <button type="button">
                                                <a href="chi-tiet-san-pham/{$dsnuocuong->ma_nuoc_uong}">Xem chi tiết</a>
                                            </button>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3" id="motsanpham">
                                    <div class="hienthimenusanphamhead">
                                        <a href="chi-tiet-san-pham/{$dsnuocuong->ma_nuoc_uong}" style="position: relative;text-decoration: none;">
                                            <img src="public/images/hinh_nuoc_uong/{$dsnuocuong->hinh}" alt="" style="width:100%;height:200px">
                                        </a>
    
                                        <div class="hienthimenusanphamcontent">
                                            <a href="chi-tiet-san-pham/{$dsnuocuong->ma_nuoc_uong}" style="text-decoration: none;">
                                                <h3 style="font-size: 15px;font-weight: 600">{$dsnuocuong->ten_nuoc_uong}</h3>
                                            </a>
                                            <p style="margin-top:-8px;color:#0071bb;">{$dsnuocuong->don_gia} vnđ/{$dsnuocuong->dvt}</p>
    
    
                                            <!--Xem chi tiết Button-->
                                            <div class="buttonhienthimenusanpham">
                                                <button type="button">
                                                    <a href="chi-tiet-san-pham/{$dsnuocuong->ma_nuoc_uong}">Xem chi tiết</a>
                                                </button>
    
    
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-sm-3" id="motsanpham">
                                    <div class="hienthimenusanphamhead">
                                        <a href="chi-tiet-san-pham/{$dsnuocuong->ma_nuoc_uong}" style="position: relative;text-decoration: none;">
                                            <img src="public/images/hinh_nuoc_uong/{$dsnuocuong->hinh}" alt="" style="width:100%;height:200px">
                                        </a>
    
                                        <div class="hienthimenusanphamcontent">
                                            <a href="chi-tiet-san-pham/{$dsnuocuong->ma_nuoc_uong}" style="text-decoration: none;">
                                                <h3 style="font-size: 15px;font-weight: 600">{$dsnuocuong->ten_nuoc_uong}</h3>
                                            </a>
                                            <p style="margin-top:-8px;color:#0071bb;">{$dsnuocuong->don_gia} vnđ/{$dsnuocuong->dvt}</p>
    
    
                                            <!--Xem chi tiết Button-->
                                            <div class="buttonhienthimenusanpham">
                                                <button type="button">
                                                    <a href="chi-tiet-san-pham/{$dsnuocuong->ma_nuoc_uong}">Xem chi tiết</a>
                                                </button>
    
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3" id="motsanpham">
                                        <div class="hienthimenusanphamhead">
                                            <a href="chi-tiet-san-pham/{$dsnuocuong->ma_nuoc_uong}" style="position: relative;text-decoration: none;">
                                                <img src="public/images/hinh_nuoc_uong/{$dsnuocuong->hinh}" alt="" style="width:100%;height:200px">
                                            </a>
        
                                            <div class="hienthimenusanphamcontent">
                                                <a href="chi-tiet-san-pham/{$dsnuocuong->ma_nuoc_uong}" style="text-decoration: none;">
                                                    <h3 style="font-size: 15px;font-weight: 600">{$dsnuocuong->ten_nuoc_uong}</h3>
                                                </a>
                                                <p style="margin-top:-8px;color:#0071bb;">{$dsnuocuong->don_gia} vnđ/{$dsnuocuong->dvt}</p>
        
        
                                                <!--Xem chi tiết Button-->
                                                <div class="buttonhienthimenusanpham">
                                                    <button type="button">
                                                        <a href="chi-tiet-san-pham/{$dsnuocuong->ma_nuoc_uong}">Xem chi tiết</a>
                                                    </button>
        
        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" id="motsanpham">
                                            <div class="hienthimenusanphamhead">
                                                <a href="chi-tiet-san-pham/{$dsnuocuong->ma_nuoc_uong}" style="position: relative;text-decoration: none;">
                                                    <img src="public/images/hinh_nuoc_uong/{$dsnuocuong->hinh}" alt="" style="width:100%;height:200px">
                                                </a>
            
                                                <div class="hienthimenusanphamcontent">
                                                    <a href="chi-tiet-san-pham/{$dsnuocuong->ma_nuoc_uong}" style="text-decoration: none;">
                                                        <h3 style="font-size: 15px;font-weight: 600">{$dsnuocuong->ten_nuoc_uong}</h3>
                                                    </a>
                                                    <p style="margin-top:-8px;color:#0071bb;">{$dsnuocuong->don_gia} vnđ/{$dsnuocuong->dvt}</p>
            
            
                                                    <!--Xem chi tiết Button-->
                                                    <div class="buttonhienthimenusanpham">
                                                        <button type="button">
                                                            <a href="chi-tiet-san-pham/{$dsnuocuong->ma_nuoc_uong}">Xem chi tiết</a>
                                                        </button>
            
            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                            <!-- {/foreach} -->

                        </div>

                        <div style="clear:both; text-align:center">{$thanhpt}</div>

                    </div>


                </div>
            </div>
        </div>
    </div>



    <script>
        $(function () {

            $(".luachon").click(function () {
                console.log($(this).val());

            });

            $('#keyword').autoComplete({
                minChars: 1,
                source: function (term, suggest) {
                    term = term.toLowerCase();
                    var choices = [{ $str }];
                    var suggestions = [];
                    for (i = 0; i < choices.length; i++)
                        if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                    suggest(suggestions);
                }
            });

        });
    </script>

    <script type="text/javascript" src="js/WebNuocNgot.js"></script>
</body>

</html>